<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <a href="/fruits/new">Create Fruit</a>

  </header>
  <h1>All Fruits</h1>
  <ul>
    <% fruitDocs.forEach(fruit => { %>
    <li>
      <a href="/fruits/<%= fruit._id %>">
        <%= fruit.name %>
      </a>
    </li>
    <% }) %>

  </ul>

</body>

</html>